/* ==========================================================================
    _helpers

    Object-oriented classes, helper classes e.g. bold-font, absolute-center
   ========================================================================== */

.sr-only,
%sr-only {
  // Technique recommended by WebAIM
  // http://webaim.org/techniques/css/invisiblecontent/
  position: absolute;
  left: -1000000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.clearfix:after,
%clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.reset-spacing {
  padding: 0;
  margin: 0;
}

.zero-line-height {
  line-height: 0;
}

.hover-underline:hover {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.text-centered {
  text-align: center;
}

.float-right {
  float: right;
}

.clear-both {
  clear: both;
}

.inline {
  display: inline;
}

.mb-reset {
  margin-bottom: $baseSpacingUnit;
}

.highlight-color {
  color: $brandColorHighlight;
}

.light-link {
  color: $lightColor;
}

.pos-rel {
  position: relative;
}