/* ==========================================================================
    _helpers

    Object-oriented classes, helper classes e.g. bold-font, absolute-center
   ========================================================================== */

.light-link {
  color: $lightColor;
}

.sr-only,
%sr-only {
  // Technique recommended by WebAIM
  // http://webaim.org/techniques/css/invisiblecontent/
  position: absolute;
  left: -1000000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.reset-spacing {
  padding: 0;
  margin: 0;
}

.zero-line-height {
  line-height: 0;
}

.clearfix:after,
%clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.hover-underline:hover {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}