/* ==========================================================================
    _layout

    Mostly applies to products and product_category pages.
   ========================================================================== */

// Define global wrapper
.wrapper {
  // container is from susy set-up
  // in _grid.scss
  @include container;
  padding: 0 20px;
}

/* Flexbox layout
---------------------------------------- */
@include respond-to( 'small' ) {
  .flexbox .flex-content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .flexbox .flex-content .main--has-sidebar,
  .flexbox .flex-content .sidebar {
    flex: 1 100%;
  }

  .flexbox .flex-content .main--has-sidebar {
    flex: 10 75%;
    order: 2;
  }

  .flexbox .flex-content .sidebar {
    flex: 1 auto;
    order: 1;
  }
}

/* Fallback layout
---------------------------------------- */

@include respond-to( 'small' ) {
  .flex-content {
    display: table;
  }

  .main--has-sidebar {
    display: table-cell;
    width: 75%;
    vertical-align: top;
  }

  .sidebar {
    display: table-cell;
    width: 25%;
    vertical-align: top;
  }
}

/* Trumps
---------------------------------------- */

.main--with-padding {
  padding: $baseSpacingUnit 0;

  @include respond-to( 'small' ) {
    padding: $baseSpacingUnit * 2 $baseSpacingUnit;
  }
}

.main--has-sidebar > .wrapper {
  margin-left: 0;
}

// Sidebar is not visible if no-js
// so reset margin
.no-js .main--has-sidebar > .wrapper {
  margin-left: auto;
}