/* ==========================================================================
   Master SCSS file

   - imports partials from sub-folders
   ========================================================================== */
/* ==========================================================================
    _config
    
    Settings which affect how styles behave elsewhere in project.
    Breakpoints, font-smoothing etc.
   ========================================================================== */
/* ==========================================================================
    _settings
    
    Declare defaults - fonts, spacing, re-usable variables
   ========================================================================== */
/* ==========================================================================
    _mixins
   
    Global mixins
   ========================================================================== */
/* ==========================================================================
    _reset
    
    normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css
   ========================================================================== */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
    _grid

    Grid setup and classes
   ========================================================================== */
.col-1 {
  width: 8.3333333333%;
  float: left;
}

.col-2 {
  width: 16.6666666667%;
  float: left;
}

.col-3 {
  width: 25%;
  float: left;
}

.col-4 {
  width: 33.3333333333%;
  float: left;
}

.col-5 {
  width: 41.6666666667%;
  float: left;
}

.col-6 {
  width: 50%;
  float: left;
}

.col-7 {
  width: 58.3333333333%;
  float: left;
}

.col-8 {
  width: 66.6666666667%;
  float: left;
}

.col-9 {
  width: 75%;
  float: left;
}

.col-10 {
  width: 83.3333333333%;
  float: left;
}

.col-11 {
  width: 91.6666666667%;
  float: left;
}

.col-12 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 767px) {
  .col-sml-1 {
    width: 8.3333333333%;
    float: left;
  }
}

@media (min-width: 767px) {
  .col-sml-2 {
    width: 16.6666666667%;
    float: left;
  }
}

@media (min-width: 767px) {
  .col-sml-3 {
    width: 25%;
    float: left;
  }
}

@media (min-width: 767px) {
  .col-sml-4 {
    width: 33.3333333333%;
    float: left;
  }
}

@media (min-width: 767px) {
  .col-sml-5 {
    width: 41.6666666667%;
    float: left;
  }
}

@media (min-width: 767px) {
  .col-sml-6 {
    width: 50%;
    float: left;
  }
}

@media (min-width: 767px) {
  .col-sml-7 {
    width: 58.3333333333%;
    float: left;
  }
}

@media (min-width: 767px) {
  .col-sml-8 {
    width: 66.6666666667%;
    float: left;
  }
}

@media (min-width: 767px) {
  .col-sml-9 {
    width: 75%;
    float: left;
  }
}

@media (min-width: 767px) {
  .col-sml-10 {
    width: 83.3333333333%;
    float: left;
  }
}

@media (min-width: 767px) {
  .col-sml-11 {
    width: 91.6666666667%;
    float: left;
  }
}

@media (min-width: 767px) {
  .col-sml-12 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 1023px) {
  .col-med-1 {
    width: 8.3333333333%;
    float: left;
  }
}

@media (min-width: 1023px) {
  .col-med-2 {
    width: 16.6666666667%;
    float: left;
  }
}

@media (min-width: 1023px) {
  .col-med-3 {
    width: 25%;
    float: left;
  }
}

@media (min-width: 1023px) {
  .col-med-4 {
    width: 33.3333333333%;
    float: left;
  }
}

@media (min-width: 1023px) {
  .col-med-5 {
    width: 41.6666666667%;
    float: left;
  }
}

@media (min-width: 1023px) {
  .col-med-6 {
    width: 50%;
    float: left;
  }
}

@media (min-width: 1023px) {
  .col-med-7 {
    width: 58.3333333333%;
    float: left;
  }
}

@media (min-width: 1023px) {
  .col-med-8 {
    width: 66.6666666667%;
    float: left;
  }
}

@media (min-width: 1023px) {
  .col-med-9 {
    width: 75%;
    float: left;
  }
}

@media (min-width: 1023px) {
  .col-med-10 {
    width: 83.3333333333%;
    float: left;
  }
}

@media (min-width: 1023px) {
  .col-med-11 {
    width: 91.6666666667%;
    float: left;
  }
}

@media (min-width: 1023px) {
  .col-med-12 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* ==========================================================================
    _layout

    Mostly applies to products and product_category pages.
   ========================================================================== */
.wrapper {
  max-width: 1352px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.wrapper:after {
  content: " ";
  display: block;
  clear: both;
}

/* Flexbox layout
---------------------------------------- */
@media (min-width: 767px) {
  .flexbox .flex-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .flexbox .flex-content .main--has-sidebar,
  .flexbox .flex-content .sidebar {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
            flex: 1 100%;
  }
  .flexbox .flex-content .main--has-sidebar {
    -webkit-box-flex: 10;
    -webkit-flex: 10 75%;
        -ms-flex: 10 75%;
            flex: 10 75%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .flexbox .flex-content .sidebar {
    -webkit-box-flex: 1;
    -webkit-flex: 1 auto;
        -ms-flex: 1 auto;
            flex: 1 auto;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}

/* Fallback layout
---------------------------------------- */
@media (min-width: 767px) {
  .flex-content {
    display: table;
  }
  .main--has-sidebar {
    display: table-cell;
    width: 75%;
    vertical-align: top;
  }
  .sidebar {
    display: table-cell;
    width: 25%;
    vertical-align: top;
  }
}

/* Trumps
---------------------------------------- */
.main--with-padding {
  padding: 20px 0;
}

@media (min-width: 767px) {
  .main--with-padding {
    padding: 40px 20px;
  }
}

.main--has-sidebar > .wrapper {
  margin-left: 0;
}

.no-js .main--has-sidebar > .wrapper {
  margin-left: auto;
}

/* ==========================================================================
   _base
   
   Base styles, no clases or IDs selectors please 
   (placeholders are fine I guess...)
   ========================================================================== */
html {
  font-family: effra, Tahoma, Verdana, Arial, sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #e83272;
}

a:hover {
  text-decoration: underline;
}

p:first-of-type {
  margin-top: 0;
  line-height: 1.35;
}

h1 {
  margin-top: 0;
  font-weight: normal;
  font-size: 2.6em;
}

h2,
.menu--main-nav__item,
.splash-block__title {
  margin-top: 0;
  font-weight: normal;
  font-size: 1.55em;
}

h3,
.product-filter__item-heading {
  margin-top: 0;
  font-weight: normal;
  font-size: 1.2em;
}

h4 {
  margin-top: 0;
  font-weight: normal;
  font-size: 1.1em;
}

img,
video {
  max-width: 100%;
}

/* ==========================================================================
    _titles

    Generic title styles
   ========================================================================== */
.section-title {
  color: #262e61;
  margin-bottom: 40px;
}

.section-title--light {
  color: #FFFFFF;
}

/* ==========================================================================
    _hamburgers

    Hamburger (menu icon) styles. 
    Taken from https://github.com/jonsuh/hamburgers
   ========================================================================== */
/* Settings
---------------------------------------- */
/* Base
---------------------------------------- */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter, opacity, filter;
          transition-property: opacity, filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
          transition-property: transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
 * Boring
 */
.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner::before, .hamburger--boring .hamburger-inner::after {
  -webkit-transition-property: none;
          transition-property: none;
}

.hamburger--boring.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger--boring.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

.hamburger--boring.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

/* ==========================================================================
    _nav
    
    Navigation styles.
   ========================================================================== */
.nav--main,
.nav--secondary {
  height: 0;
  overflow: hidden;
  width: calc(100% + 20px + 20px);
  position: relative;
  left: -20px;
}

@media (min-width: 1023px) {
  .nav--main,
  .nav--secondary {
    height: auto;
    overflow: visible;
  }
}

@media (min-width: 1023px) {
  .nav--main,
  .nav--secondary {
    width: 100%;
    left: 0;
    background-color: #94aab3;
  }
}

@media (min-width: 1023px) {
  .nav--secondary {
    position: absolute;
    top: 20px;
    right: 0;
    left: auto;
    background: none;
  }
}

.nav--main__trigger {
  margin-top: 20px;
}

@media (min-width: 1023px) {
  .nav--main__trigger {
    display: none;
  }
}

.nav--main__trigger .hamburger-inner {
  background-color: #FFFFFF;
}

.nav--main__trigger .hamburger-inner:after, .nav--main__trigger .hamburger-inner:before {
  background-color: #FFFFFF;
}

.nav--main__trigger .hamburger-inner:before {
  top: -12px;
}

.nav--main__trigger .hamburger-inner:after {
  bottom: -12px;
}

/* ==========================================================================
    _menu
    
    Various menu styles.
   ========================================================================== */
.menu,
.sub-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Sub Menus
---------------------------------------- */
@media (min-width: 1023px) {
  .sub-menu {
    left: 0 !important;
    top: 100% !important;
    height: auto !important;
    width: auto !important;
    overflow: visible !important;
    visibility: hidden;
  }
}

.sub-menu .menu__item {
  min-width: 300px;
}

.menu--header__item--tier-two > .sub-menu {
  top: 0 !important;
  left: 100% !important;
}

.menu--header__item--has-submenu:hover > .sub-menu {
  visibility: visible;
}

.menu--header__item--tier-two {
  background-color: #76888f;
}

.menu--header__item--tier-three,
.menu--header__item--tier-two.menu--header__item--has-submenu:hover {
  background-color: #667277;
}

.menu--header__item--tier-three:hover {
  background-color: #5a6569;
}

.sub-menu .menu__item:first-of-type a {
  padding-left: 20px;
}

/* Header
---------------------------------------- */
.menu--header {
  width: 100%;
  position: relative;
  overflow: hidden;
}

@media (min-width: 1023px) {
  .menu--header {
    width: 100%;
    position: static;
    overflow: visible;
  }
}

.menu--header__item {
  border-top: 1px solid #181d3c;
  position: relative;
}

.menu--header__item > .menu__item__link {
  display: block;
  padding: 13.3333333333px 20px;
}

@media (min-width: 1023px) {
  .menu--header__item {
    border-top: 0;
    float: left;
  }
  .menu--header__item > .menu__item__link {
    padding: 20px 40px;
  }
}

@media (min-width: 1023px) {
  .nav--secondary .menu--header {
    width: auto;
    display: inline-block;
    float: right;
  }
}

/* Main Navigation
---------------------------------------- */
@media (min-width: 1023px) {
  .menu--main-nav__item {
    font-size: 1em;
  }
  .menu--main-nav__item:hover {
    background-color: #76888f;
  }
  .menu--main-nav__item > .menu__item__link {
    padding: 20px 20px;
  }
}

.menu--main-nav__item:after {
  content: '\203A';
  position: absolute;
  right: 20px;
  top: 11px;
}

@media (min-width: 1023px) {
  .menu--main-nav__item:after {
    content: none;
  }
}

/* Language Selector
---------------------------------------- */
@media (min-width: 1023px) {
  .menu--lang-selector__item {
    line-height: 3;
  }
  .menu--lang-selector__item:hover {
    background-color: #181d3c !important;
  }
}

@media (min-width: 1023px) {
  .menu--lang-selector__item:first-of-type {
    width: 135px;
    height: 60px;
    line-height: 3.35;
    cursor: pointer;
  }
  .menu--lang-selector__item:first-of-type .menu__item__link {
    padding: 0 0 0 30px;
  }
  .menu--lang-selector__item:first-of-type .menu__item__link:after {
    content: '\25BE';
    position: absolute;
    right: 40px;
  }
  .is-active .menu--lang-selector__item:first-of-type .menu__item__link:after {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
}

@media (min-width: 1023px) and (min-width: 1023px) {
  .menu--lang-selector__item:first-of-type .menu__item__link:after {
    right: 10px;
  }
}

.menu--lang-selector__item:not(:first-of-type) {
  height: 0;
  border: 0;
  overflow: hidden;
  background-color: #2d3773;
}

@media (min-width: 1023px) {
  .menu--lang-selector__item:not(:first-of-type) {
    padding: 0;
    position: absolute;
    background-color: #262e61;
  }
}

.is-active .menu--lang-selector__item:not(:first-of-type) {
  height: auto;
  border-top: 1px solid #181d3c;
  overflow: visible;
}

.is-active .menu--lang-selector__item:not(:first-of-type) > .menu__item__link {
  padding: 13.3333333333px 40px;
}

@media (min-width: 1023px) {
  .is-active .menu--lang-selector__item:not(:first-of-type) {
    width: 135px;
    height: 60px;
    border-top: 0;
  }
  .is-active .menu--lang-selector__item:not(:first-of-type):nth-of-type(2) {
    top: 60px;
  }
  .is-active .menu--lang-selector__item:not(:first-of-type):nth-of-type(3) {
    top: 120px;
  }
  .is-active .menu--lang-selector__item:not(:first-of-type):nth-of-type(4) {
    top: 180px;
  }
  .is-active .menu--lang-selector__item:not(:first-of-type) > .menu__item__link {
    padding: 0 0 0 30px;
  }
}

/* Footer
---------------------------------------- */
.menu--footer__item {
  margin-bottom: 1em;
}

/* Vendor (WP sub-menus)
---------------------------------------- */
/* ==========================================================================
    _forms

    Form styling
   ========================================================================== */
/* Generic
---------------------------------------- */
.form__input {
  font-family: effra, Tahoma, Verdana, Arial, sans-serif;
}

.form__input--submit {
  -webkit-appearance: none;
  border: 0;
  background-color: #262e61;
}

/* Search Form
---------------------------------------- */
@media (min-width: 1023px) {
  .form--search {
    float: right;
  }
}

.form--search ::-webkit-input-placeholder {
  color: #FFFFFF;
}

.form--search ::-moz-placeholder {
  color: #FFFFFF;
}

.form--search :-ms-input-placeholder {
  color: #FFFFFF;
}

.form--search ::placeholder {
  color: #FFFFFF;
}

/* Search in header
---------------------------------------- */
.header--site .form--search {
  height: 60px;
}

.header--site .form__input {
  height: 100%;
  border: 0;
}

@media (min-width: 1023px) {
  .header--site .form--search__input--submit {
    height: 100% !important;
    width: 70px !important;
    padding: 0;
    position: static !important;
    float: right;
  }
}

.header--site .form__input--search {
  background-color: #a9bbc2;
  color: #FFFFFF;
  background-color: #262e61;
}

.header--site .form__input--search:focus {
  background-color: #343f86;
}

@media (min-width: 1023px) {
  .header--site .form__input--search {
    float: left;
  }
}

.header--site .form__input--submit {
  background-color: #76888f;
}

@media (min-width: 1023px) {
  .header--site .form--search .form__input--search {
    width: 0;
    padding: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .header--site .form--search:hover .form__input--search {
    width: 300px;
    padding: 20px;
    background-color: #a9bbc2;
    visibility: visible;
    pointer-events: all;
  }
}

/* ==========================================================================
    _header
    
    Site header styles.
   ========================================================================== */
.header--site {
  position: relative;
  background-color: #262e61;
  color: #FFFFFF;
  overflow: hidden;
}

@media (min-width: 1023px) {
  .header--site {
    overflow: visible;
  }
}

.header--site a {
  color: #FFFFFF;
  text-decoration: none;
}

.header--site a:hover {
  text-decoration: underline;
}

.header--site__logo {
  width: 150px;
  height: auto;
  display: block;
}

.header--site__logo-link {
  float: left;
  margin: 20px 0 20px;
  position: relative;
  z-index: 2;
}

.header__button {
  float: right;
}

@media (min-width: 1023px) {
  .header__custom-link a:hover {
    background-color: #181d3c;
  }
}

/* ==========================================================================
    _footer
    
    Site footer styles.
   ========================================================================== */
.footer--site a {
  color: #FFFFFF;
}

.footer--site--tier-one {
  padding: 40px 0;
  background-color: #262e61;
  color: #FFFFFF;
}

.footer__contact-detail {
  margin: 0;
  margin-bottom: 0.25em;
}

.footer__copyright {
  color: #94aab3;
}

/* ==========================================================================
   _sidebar
   
   Sidebar styles.
   ========================================================================== */
.sidebar--grey {
  border-right: 1px solid #dbdbdb;
  background-color: #eaeef0;
  color: #94aab3;
}

.sidebar__header {
  padding: 20px;
  color: #9ba399;
}

.sidebar__title {
  color: #262e61;
  font-size: 1.2em;
}

@media (min-width: 767px) {
  .sidebar--right {
    padding-left: 40px;
  }
}

/* Show/hide

Powered by JS
---------------------------------------- */
@media (min-width: 767px) {
  .sidebar[data-sidebar="collapsed"] {
    width: 15%;
    max-width: 175px;
  }
  .sidebar[data-sidebar="collapsed"] .product-filter__toggle-text:after {
    content: '>';
    margin-left: 10px;
  }
}

.sidebar[data-sidebar="collapsed"] .product-filter__item-list {
  visibility: hidden;
  height: 0;
}

@media (min-width: 767px) {
  .sidebar[data-sidebar="expanded"] {
    width: 25%;
    max-width: none;
  }
  .sidebar[data-sidebar="expanded"] .product-filter__toggle-text:before {
    content: '<';
    margin-right: 10px;
  }
}

.no-js .sidebar--has-filter {
  display: none;
}

/* ==========================================================================
    _main

    Styles for main-content element (<main>) variations
   ========================================================================== */
.main--blog {
  margin: 40px 0;
}

.main--has-sidebar--right {
  border-bottom: 1px solid #dbdbdb;
}

@media (min-width: 767px) {
  .main--has-sidebar--right {
    padding-right: 40px;
    border-right: 1px solid #dbdbdb;
    border-bottom: none;
  }
}

/* ==========================================================================
    _buttons

    Button styles (Not actually buttons, links)
   ========================================================================== */
.btn {
  max-width: 230px;
  display: block;
  padding: 20px 20px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  font-size: 1.1em;
  text-align: center;
  line-height: 1;
  color: #FFFFFF;
}

.btn:hover {
  text-decoration: none;
}

.btn--pink {
  color: #e83272;
  border-color: #e83272;
}

.btn--centered {
  margin: 0 auto;
}

.btn--full-width {
  width: 100%;
  max-width: none;
  margin: 0;
}

/* ==========================================================================
    _blocks
    
    Containers of content
   ========================================================================== */
.block {
  padding: 40px 0;
}

.block--last {
  padding-bottom: 0;
}

@media (min-width: 767px) {
  .block--last {
    padding-bottom: 40px;
  }
}

.block--coloured {
  background-color: #94aab3;
  color: #FFFFFF;
}

/* ==========================================================================
    _product-listing
    
    Listing products (generally in an archive page)
   ========================================================================== */
.product-listing {
  padding: 0;
  margin-bottom: 20px;
}

@media (min-width: 767px) {
  .product-listing__container {
    margin-right: 30px;
  }
}

.product-listing__image-container {
  display: block;
  margin-bottom: 20px;
  border: 1px solid #eaeef0;
  background-color: #FFFFFF;
}

.product-listing__image {
  width: 50%;
  margin: 0 auto;
  display: block;
}

@media (min-width: 767px) {
  .product-listing__image {
    width: 100%;
    padding: 10px;
  }
}

.product-listing__title {
  margin-bottom: 20px;
  color: #262e61;
  font-weight: normal;
}

.product-listing__category-title,
.product-listing__sub-category-title {
  color: #262e61;
}

.product-listing__category-container {
  margin-top: 30px;
  overflow: hidden;
}

.product-listing__description {
  color: #9ba399;
  margin-bottom: 20px;
}

/* Featured
---------------------------------------- */
.product-listing--featured {
  padding: 0;
}

.product-listing--featured:last-of-type {
  margin-bottom: 40px;
}

@media (min-width: 767px) {
  .product-listing--featured:last-of-type {
    margin-bottom: 0;
  }
}

@media (min-width: 767px) {
  .product-listing--featured {
    margin-bottom: 40px;
  }
}

@media (min-width: 767px) {
  .product-listing--featured__container {
    margin: 0;
  }
  .product-listing--featured:nth-of-type(odd) .product-listing--featured__container {
    margin-right: 13.3333333333px;
  }
  .product-listing--featured:nth-of-type(even) .product-listing--featured__container {
    margin-left: 13.3333333333px;
  }
}

@media (min-width: 767px) {
  .product-listing--featured__image {
    width: 50%;
    padding: 0;
  }
}

.product-listing--featured__title {
  font-size: 1.55em;
  margin-bottom: 20px;
}

/* Product Listing with centered text
---------------------------------------- */
.product-listing--centered {
  text-align: center;
}

/* ==========================================================================
    _product-filter
    
    Filter for products, lives in sidebar.
   ========================================================================== */
.product-filter__header {
  background-color: #dbe2e5;
}

.product-filter__item {
  list-style-type: none;
}

.product-filter__item--has-input {
  margin-bottom: 10px;
}

.product-filter__item__label {
  margin-left: 10px;
}

.product-filter__item-link,
.product-filter__item > a {
  color: inherit;
}

.product-filter__item-heading {
  padding: 20px;
  border-top: 1px solid #dbdbdb;
}

.product-filter__item-list--is-child {
  padding-left: 20px;
  padding-bottom: 20px;
}

.product-filter__header {
  cursor: pointer;
}

/* Filters
---------------------------------------- */
.js *[data-filter="filterable"] {
  height: 0;
  overflow: hidden;
}

#product-filter-canvas[data-filtering*="baseball-bump-caps"] .product-listing__category-container[data-filter-term="baseball-bump-caps"] {
  height: auto;
}

#product-filter-canvas[data-filtering*="hygiene-bump-caps"] .product-listing__category-container[data-filter-term="hygiene-bump-caps"] {
  height: auto;
}

#product-filter-canvas[data-filtering*="general-purpose"] .product-listing__category-container[data-filter-term="general-purpose"] {
  height: auto;
}

#product-filter-canvas[data-filtering*="integrated-eyewear"] .product-listing__category-container[data-filter-term="integrated-eyewear"] {
  height: auto;
}

#product-filter-canvas[data-filtering*="powered-air"] .product-listing__category-container[data-filter-term="powered-air"] {
  height: auto;
}

/* ==========================================================================
    _splash-block

    A repetitive UI-pattern across the site, which consits of:

    - Background-image
    - Centered button
    - Title
   ========================================================================== */
.splash-block {
  height: 180px;
  color: #FFFFFF;
  text-align: center;
}

@media (min-width: 767px) {
  .splash-block {
    height: 250px;
  }
}

.splash-block__container {
  padding: 20px;
  background-size: cover;
  background-position: center center;
}

.splash-block__title {
  margin-bottom: 0.5em;
  font-weight: bold;
}

@media (min-width: 767px) {
  .splash-block__title {
    font-size: 2.6em;
  }
}

.splash-block__btn {
  margin: 0 auto;
}

/* Centering content
---------------------------------------- */
.flexbox .splash-block__container {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.no-flexbox .splash-block__container {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.no-flexbox .splash-block__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* The homepage blocks

// I think we need a better name for these
---------------------------------------- */
@media (min-width: 767px) {
  .splash-block__homepage {
    margin-bottom: 20px;
  }
  .splash-block__homepage:nth-of-type(odd) .splash-block__container {
    margin-right: 10px;
  }
  .splash-block__homepage:nth-of-type(even) .splash-block__container {
    margin-left: 10px;
  }
}

.splash-block__homepage:last-of-type:nth-of-type(odd) {
  width: 100%;
}

.splash-block__homepage:last-of-type:nth-of-type(odd) .splash-block__container {
  margin-right: 0;
}

/* ==========================================================================
    _hero

    Hero element.
   ========================================================================== */
.hero {
  height: 350px;
  height: calc(100vh - 94px);
  text-align: center;
  background-size: cover;
  background-position: 25% 0;
  background-repeat: no-repeat;
  background-color: #eaeef0;
}

.flexbox .hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 767px) {
  .hero {
    height: calc(100vh - 155px);
    min-height: 600px;
  }
}

.hero__title {
  font-size: 2.6em;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.45);
}

.hero__cta {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.45);
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.45);
}

/* Variations
---------------------------------------- */
.hero--blog {
  height: 350px;
  background-position: center center;
}

.hero--blog__title {
  margin: 0;
  text-shadow: none;
}

.hero--advice {
  background-image: url(../img/advice-hero.jpg);
}

.hero--news {
  background-image: url(../img/news-hero.jpg);
}

/* ==========================================================================
    _blog

    Blog posts - all types, including single post and previews (archive listing)
   ========================================================================== */
.blog__title {
  color: #262e61;
}

.blog__tags {
  display: block;
}

.blog__tags__tag {
  padding: 3px 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  display: inline-block;
  font-size: 0.9em;
  white-space: nowrap;
  color: #262e61;
  background-color: #eeeeee;
}

/* Preview (Archive listing)
---------------------------------------- */
@media (min-width: 767px) {
  .blog--preview__container {
    padding-left: 20px;
  }
}

.blog--preview__image {
  height: 140px;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (min-width: 767px) {
  .blog--preview__image {
    height: 225px;
  }
}

.blog--preview__author {
  color: #94aab3;
}

.blog--preview__link {
  display: inline-block;
  margin-bottom: 20px;
}

/* Events
---------------------------------------- */
.eventlist {
  list-style: none;
  margin: 0;
  padding: 0;
}

.eventlist__title {
  color: #9ba399;
}

.event {
  margin-bottom: 40px;
}

.event__title {
  margin-bottom: 20px;
  font-size: 1.2em;
  color: #262e61;
}

.event__text {
  margin-top: 0;
  color: #94aab3;
}

.event__text--date {
  margin-bottom: 0;
}

/* ==========================================================================
    _feature

    Feature components - live on 'Our Story'
   ========================================================================== */
.feature-block {
  position: relative;
}

@media (min-width: 767px) {
  .feature-block {
    height: 100vh;
    min-height: 600px;
  }
}

.feature-block__content {
  padding: 30px 0;
}

@media (min-width: 767px) {
  .feature-block__content {
    padding: 100px;
  }
}

.feature-block__title,
.feature-block__copy {
  font-weight: bold;
}

.feature-block__title {
  font-size: 40px;
}

.feature-block__copy {
  font-size: 22px;
}

/* Layout variations
---------------------------------------- */
@media (min-width: 767px) {
  .feature-block--three__content,
  .feature-block--four__content,
  .feature-block--five__content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.feature-block--four__content {
  right: 0;
}

/* Backgrounds & colors
---------------------------------------- */
.feature-block--has-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.feature-block--half--has-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.feature-block--one {
  background-color: #262e61;
  color: #FFFFFF;
}

.feature-block--one--has-bg {
  background-image: url(../img/crane-bg.jpg);
}

.feature-block--two {
  background-color: #FFFFFF;
  color: #262e61;
}

.feature-block--three {
  background-color: #eaeef0;
  color: #FFFFFF;
}

.feature-block--three--has-bg {
  background-image: url(../img/climbing-man.jpg);
}

.feature-block--four {
  background-color: #000000;
  color: #FFFFFF;
}

.feature-block--four--has-bg {
  background-image: url(../img/close-up-male.jpg);
}

.feature-block--five {
  background-color: #FFFFFF;
  color: #FFFFFF;
}

.feature-block--five--has-bg {
  background-image: url(../img/side-on-helmet-over-white-gradient.jpg);
}

/* Titles
---------------------------------------- */
.feature-block--two__title {
  color: #94aab3;
}

/* Trumps
---------------------------------------- */
.feature-block--one__content {
  float: right;
}

/* ==========================================================================
    _helpers

    Object-oriented classes, helper classes e.g. bold-font, absolute-center
   ========================================================================== */
.light-link {
  color: #FFFFFF;
}

.sr-only,
.sub-menu,
.header--site .form--search__input--submit {
  position: absolute;
  left: -1000000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.reset-spacing {
  padding: 0;
  margin: 0;
}

.zero-line-height {
  line-height: 0;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.hover-underline:hover {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.text-centered {
  text-align: center;
}

.float-right {
  float: right;
}

/* ==========================================================================
    _trumps

    "Hacks"
   ========================================================================== */
.csscalc .disobey-wrapper-mob {
  width: calc(100% + 40px);
  margin-left: -20px;
}

@media (min-width: 767px) {
  .csscalc .disobey-wrapper-mob {
    width: inherit;
    margin-left: inherit;
  }
}
/*# sourceMappingURL=style.css.map */