/* ==========================================================================
    _settings
    
    Declare defaults - fonts, spacing, re-usable variables
   ========================================================================== */

$mainFontFamily: effra, Tahoma, Verdana, Arial, sans-serif;
$mainFontSize: 18px;

$brandColorOne: #262e61;
$brandColorTwo: #94aab3;
$brandColorTwoDark: #76888f;
$brandColorTwoDarker: #667277;
$brandColorThree: #eaeef0;
$brandColorHighlight: #e83272;
$lightColor: #FFFFFF;
$borderColor: #dbdbdb;

$baseSpacingUnit: 20px;