/* ==========================================================================
    _feature

    Feature components - live on 'Our Story'
   ========================================================================== */

.feature-block {
  height: 100vh;
  position: relative;
  overflow: hidden;

  @include respond-to( 'small' ) {
    min-height: 600px; // Fallback
    max-height: 800px;
  }
}

.feature-block__content {
  padding: $baseSpacingUnit * 2 $baseSpacingUnit;

  @include respond-to( 'small' ) {
    padding: $baseSpacingUnit * 5;
  }
}

.feature-block__title,
.feature-block__copy {
  font-weight: bold;
  color: $lightColor;
}

.feature-block__title {
  font-size: 40px;
}

.feature-block__copy {
  font-size: 22px;
}

/* Layout variations
---------------------------------------- */

.feature-block--one__content,
.feature-block--three__content,
.feature-block--four__content,
.feature-block--five__content {
  position: absolute;

  @include respond-to( 'small' ) {
    @include vertically-aligned();
  }
}

.feature-block__content--on-left {
  left: 0;

  @include respond-to( 'small' ) {
    // because absolutely positoned, need to replicate
    // wrapper padding
    padding-left: $baseSpacingUnit;
  }
}

.feature-block__content--on-right {
  right: 0;

  @include respond-to( 'small' ) {
    // because absolutely positoned, need to replicate
    // wrapper padding
    padding-right: $baseSpacingUnit;
  }
}

/* Backgrounds & colors
---------------------------------------- */

.feature-block--has-bg {
  @include splash-bg();
}

.feature-block--one {
  background-color: $brandColorOne;
  color: $lightColor;
}
.feature-block--one--has-bg {
  background-image: url(../img/crane-bg.jpg);
}

.feature-block--two {
  background-color: $lightColor;
  color: $brandColorOne;
}

.feature-block--three {
  background-color: $brandColorThree;
  color: $lightColor;
}
.feature-block--three--has-bg {
  background-image: url(../img/climbing-man.jpg);
}

.feature-block--four {
  background-color: #000000;
  color: $lightColor;
}
.feature-block--four--has-bg {
  background-image: url(../img/close-up-male.jpg);
}

.feature-block--five {
  background-color: $lightColor;
  color: $lightColor;
}
.feature-block--five--has-bg {
  background-image: url(../img/side-on-helmet-over-white-gradient.jpg);
}

/* Titles
---------------------------------------- */

.feature-block--two__title {
  color: $brandColorTwo;
}

/* Two-column block
---------------------------------------- */

.feature-block__half--has-bg {
  height: 0;

  @include respond-to( 'small' ) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

/* Trumps
---------------------------------------- */

.feature-block--one__content {
  float: right;
}

.feature-block--two__content {
  padding-left: 0;
  padding-right: 0;
}

.feature-block--two {
  height: auto;
  min-height: none;
  max-height: none;
}

.feature-block--four {

  @include respond-to( 'small' ) {
    height: 100vh;
  }
}

.feature-block--three__content,
.feature-block--five__content {
  bottom: 0;
}

.feature-block > .wrapper {
  height: 100%;
}