/* ==========================================================================
    _footer
    
    Site footer styles.
   ========================================================================== */

.footer p {
  color: $lightColor;
}

.footer--site a {
  color: $lightColor;
}

.footer--site--tier-one {
  padding: $baseSpacingUnit * 2 0;
  background-color: $brandColorOne;
  color: $lightColor;
}

.footer--site--tier-two {
  padding: $baseSpacingUnit 0;
  background-color: #323d5d;
}

.footer__contact-detail {
  margin: 0;
  margin-bottom: 0.25em;
}

.footer__copyright {
  color: #94aab3;
}

.footer__logos {
  text-align: center;
}

.footer__logos__item {
  height: 30px;
  margin-right: $baseSpacingUnit;
  display: inline-block;
  vertical-align: middle;
}

.footer__logo {
  height: 100%;
  width: auto;
}