/* ==========================================================================
    _forms

    Form styling
   ========================================================================== */

input,
select,
textarea {
  max-width: 100%;
  border-radius: 0;
  transition: background-color $gtd / 2 ease;
  font-family: $mainFontFamily;
  -webkit-appearance: none;

  @include respond-to( 'small' ) {
    max-width: none;
  }

  &:focus {
    outline: none;
    background-color: lighten($borderColor, 10%);
  }
}

input:not([type="submit"]),
.form__input:not([type="submit"]),
select,
.form__select {
  width: 100%;

  @include respond-to( 'medium' ) {
    width: auto;
  }
}

input,
.form__input,
select,
.form__select {
  padding: $baseSpacingUnit / 2 $baseSpacingUnit;
  border: 0;
  border-bottom: 1px solid $brandColorOne;
}

select,
.form__select {
  border-radius: 0;
  background: none;
  -webkit-appearance: none;
}

textarea,
.form__textarea {
  padding: $baseSpacingUnit;
  border: 1px solid $borderColor;
  border-radius: 4px;
}

form label,
.form__label {
  color: #262e61;
  font-weight: normal;
  font-style: italic;
}

// Show no labels if placeholder available
.placeholder form label {
  @extend %sr-only;
}

::placeholder,
select {
  color: $brandColorTwo;
}

/* Generic
---------------------------------------- */

.form__input {
  font-family: $mainFontFamily;
  -webkit-appearance: none;
}

.form__input--submit {
  -webkit-appearance: none;
  border: 0;
  background-color: $brandColorOne;
}

/* Search (not in header)
---------------------------------------- */

.form--search--in-page {
  height: 100%;
  position: relative;
}

.form--search--in-page__input {
  height: 100%;
}

.form--search--in-page__input--submit {
  width: 60px;
  position: absolute;
  right: 0;
}

.form--search--in-page__input--search {
  width: 100%;
  padding: $baseSpacingUnit;
  border: 0;
  background-color: lighten($borderColor, 10%);
  transition: background-color .25s ease;

  &:focus {
    background-color: lighten($borderColor, 5%);
  }

  @include respond-to( 'small' ) {
    width: 100% !important;
  }
}
