/* ==========================================================================
    _hero

    Hero element.
   ========================================================================== */

.hero {
  height: 350px;
  // 100vh - height of site header
  height: calc(100vh - 94px);
  max-height: 900px;
  text-align: center;
  background-size: cover;
  background-position: 25% 0;
  background-repeat: no-repeat;
  background-color: $brandColorThree;

  .flexbox & {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include respond-to( 'small' ) {
    // recalculate height because header
    // is bigger now
    height: calc(100vh - 155px);
  }
}

.hero__title {
  font-size: $h1Size;
  font-weight: bold;
  color: $lightColor;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.45);
}

.hero__cta {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.45);
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.45);
}

/* Variations
---------------------------------------- */

.hero--blog {
  height: 350px;
  background-position: center center;
}

.hero--blog__title {
  margin: 0;
  text-shadow: none;
}

.hero--advice {
  background-image: url(../img/advice-hero.jpg);
}

.hero--news {
  background-image: url(../img/news-hero.jpg);
}