/* ==========================================================================
    _icons

    Sprites
   ========================================================================== */

.icon,
%icon {
  height: 30px;
  width: 30px;
  margin-left: $baseSpacingUnit / 2;
  display: inline-block;
  background-image: url(../img/sprite.svg);
  background-size: 30px 350px;
  vertical-align: middle;

  // Allow tweaks on positions
  position: relative;
}

/* Icons
---------------------------------------- */

.icon--mail,
%icon--mail {
  background-position: 0 0px;
  top: -1px;
}

.icon--white-pin,
%icon--white-pin {
  background-position: 0 -62px;
  top: -1px;
}

.icon--search,
%icon--search {
  background-position: 0 -122px; 
}

.icon--link,
%icon--link {
  background-position: 0 -153px;
  top: -2px;
}

.icon--white-link,
%icon--white-link {
  background-position: 0 -184px;
  top: -2px;
}

.icon--play,
%icon--play {
  background-position: 0 -165px;

  &.icon--2x {
    background-position: 0 -343px;
  }
}

.icon--checked-box,
%icon--checked-box {
  background-position: 0 -272px;
}

.icon--unchecked-box,
%icon--unchecked-box {
  background-position: 0 -311px;
}

/* Tweaks
---------------------------------------- */

.icon--on-left,
%icon--on-left {
  margin: 0 $baseSpacingUnit / 2 0 0;
}

.icon--fit,
%icon--fit {
  //height: 100%;
  //width: 100%;
  margin: 0;
}

.icon--2x,
%icon--2x {
  background-size: 48px 560px;
  width: 48px;
  height: 48px;
}