/* ==========================================================================
    _map

    We are using WP Google Maps (https://www.wpgmaps.com/) as the plugin
    for our map
   ========================================================================== */

.map-container {
  position: relative;
  height: 500px; // fallback for no calc/vh
  height: calc(100vh - 95px); // calculate based on viewport height less header height

  @include respond-to( 'medium' ) {
    height: 500px; // fallback for no calc/vh
    height: calc(100vh - 155px); // header is taller so recalc height
  }
}

/* Search fields
---------------------------------------- */

.wpgmza_sl_main_div {
  // we define a width because it helps
  // with positioning markup we have no control
  // over
  height: 50px !important;
  width: 280px !important;
  position: absolute;
  bottom: $baseSpacingUnit;
  left: $baseSpacingUnit;
  z-index: 2;
  background-color: $lightColor;

  // If we have calc, construct layout differently
  .csscalc & {
    width: 80% !important;
    left: 10% !important;
  }

  @include respond-to( 'small' ) {
    width: 400px !important;

    .csscalc & {
      width: 400px !important;
      right: $baseSpacingUnit !important;
      left: auto !important;
    }
  }
}

.wpgmza_sl_query_innerdiv1 {
  @extend %sr-only;
}

#locationSelect,
.wpgmza_sl_radius_div,
.wpgmza_sl_reset_button_div {
  // These are not used
  display: none !important;
}

.wpgmza_sl_search_button_div,
.wpgmza_sl_query_div {
  height: 100% !important;
  display: inline-block !important;
}

// Submit button input
.wpgmza_sl_search_button_div {
  width: 60px;
  float: left;
}

.wpgmza_sl_search_button_1 {
  background-color: $brandColorTwo;
  background-image: url(../img/search-icon.svg);
  background-size: 21px 21px;
  background-repeat: no-repeat;
  background-position: center center;
  // Hide text
  font-size: 0;
  color: $brandColorTwo;
}

.wpgmza_sl_query_innerdiv2,
.wpgmza_sl_search_button_1,
.addressInput {
  height: 100% !important;
  width: 100% !important;
  border-bottom: 0;
}

.wpgmza_sl_query_div {
  width: 220px;

  .csscalc & {
    width: calc(100% - 60px);

    @include respond-to( 'small' ) {
      width: 340px;
    }
  }
}

.wpgmza_sl_search_button_1 {
  // Reset padding to allow for icon
  // in submit input
  padding: $baseSpacingUnit / 4;
}

/* Info Window
---------------------------------------- */

.map-container .wpgmza_modern_infowindow {
  width: 80% !important;
  padding: 0 !important;
  margin: 0 !important;
  top: auto !important;
  bottom: 80px !important;
  left: 10% !important;
  font-family: $mainFontFamily !important;
  box-shadow: none !important;
  background-color: $lightColor !important;

  @include respond-to( 'small' ) {
    width: 400px !important;
    right: $baseSpacingUnit !important;
    left: auto !important;
  }
}

.contact__map-container .wpgmza_modern_infowindow {
  bottom: $baseSpacingUnit * 2 !important;
}

.wpgmza_modern_infowindow_inner {
  @extend %clearfix;
  padding: $baseSpacingUnit $baseSpacingUnit $baseSpacingUnit $baseSpacingUnit * 4;

  &:before {
    content: '';
    height: 34px;
    width: 27px;
    display: block;
    position: absolute;
    top: $baseSpacingUnit;
    left: $baseSpacingUnit;
    background-image: url(../img/pin.svg);
  }
}

.wpgmza_iw_title {
  height: auto !important;
  padding: 0 !important;
  margin: 0 0 $baseSpacingUnit / 2 !important;
  position: static !important;
  background-color: $lightColor !important;
  font-weight: bold;
}

.wpgmza_iw_description {
  max-height: none !important;
  margin-bottom: 0 !important;
  overflow: visible !important;

  p:first-of-type {
    margin-bottom: 0;
  }

  p:nth-of-type(2) {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  a {
    color: $brandColorOne;
    text-decoration: underline;
  }
}

.wpgmza_iw_address,
.wpgmza_iw_title,
.wpgmza_iw_description,
.wpgmza_iw_address_p {
  color: $brandColorOne !important;
  font-size: 18px !important;
}

.wpgmza_iw_image,
.wpgmza_iw_buttons,
.wpgmza_iw_address,
.wpgmza_modern_infowindow_close {
  display: none !important;
}

/* Google components
---------------------------------------- */

// Reposition zoom controls
.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom {
  display: block !important;
  top: $baseSpacingUnit;
  right: $baseSpacingUnit;
}

// Hide autocomplete
.pac-container.pac-logo {
  display: none !important;
}