/* ==========================================================================
    _map

    We are using WP Google Maps (https://www.wpgmaps.com/) as the plugin
    for our map
   ========================================================================== */

.map-container {
  position: relative;
  height: 500px; // fallback for no calc/vh
  height: calc(100vh - 95px); // calculate based on viewport height less header height

  @include respond-to( 'medium' ) {
    height: 500px; // fallback for no calc/vh
    height: calc(100vh - 155px); // header is taller so recalc height
  }
}

.wpgmza_sl_main_div {
  // we define a width because it helps
  // with positioning markup we have no control
  // over
  height: 50px !important;
  width: 280px !important;
  position: absolute;
  bottom: $baseSpacingUnit;
  left: $baseSpacingUnit;
  z-index: 2;
  background-color: $lightColor;
}

.wpgmza_sl_query_innerdiv1 {
  @extend %sr-only;
}

#locationSelect,
.wpgmza_sl_radius_div,
.wpgmza_sl_reset_button_div {
  // These are not used
  display: none !important;
}

/* Search fields
---------------------------------------- */

.wpgmza_sl_search_button_div,
.wpgmza_sl_query_div {
  height: 100% !important;
  display: inline-block !important;
}

// Submit button input
.wpgmza_sl_search_button_div {
  width: 60px;
  float: left;
}

.wpgmza_sl_search_button_1 {
  background-color: $brandColorTwo;
}

.wpgmza_sl_query_innerdiv2,
.wpgmza_sl_search_button_1,
.addressInput {
  height: 100% !important;
  width: 100% !important;
}

.wpgmza_sl_query_div {
  width: 220px;
}

.wpgmza_sl_search_button_1 {
  // Reset padding to allow for icon
  // in submit input
  padding: $baseSpacingUnit / 4;
}
