/* ==========================================================================
    _newsletter
    
    Newsletter container
   ========================================================================== */

.newsletter {
  .eventlist + & {
    margin-top: $baseSpacingUnit;
  }
}

.newsletter.is-active {
  .gform--newsletter {
    height: auto;
    overflow: visible;
  }

  #show-newsletter-form {
    display: none;
  }
}