/* ==========================================================================
    _product-filter
    
    Filter for products, lives in sidebar.
   ========================================================================== */

.product-filter__header {
  background-color: darken($brandColorThree, 5%);
}

.product-filter__item {
  list-style-type: none;
  @extend %clearfix;
}

.product-filter__item--has-input {
  margin-bottom: $baseSpacingUnit / 2;
}

.product-filter__item__label {
  margin-left: $baseSpacingUnit / 2;

  @include respond-to( 'small' ) {
    width: 85%;
    margin-left: 0;
  }

  @include respond-to( 'medium' ) {
    margin-left: $baseSpacingUnit / 4;
  }
}

.product-filter__item__label,
.product-filter__checkbox {
  float: left;
}

.product-filter__checkbox {
  position: relative;
  top: -4px;
}

.product-filter__item-link,
.product-filter__item > a {
  color: inherit;
}

.product-filter__item-heading {
  padding: $baseSpacingUnit;
  border-top: 1px solid $borderColor;
  color: $brandColorTwo;
  @extend %like-h3;
}

.product-filter__item-list--is-child {
  padding-left: $baseSpacingUnit;
  padding-bottom: $baseSpacingUnit;
}

.product-filter__header {
  cursor: pointer;
}

.product-filter__toggle-text {
  color: inherit;
  text-align: right;
}

/* Filters
---------------------------------------- */

// All child terms (slugs) which need to 
// be filtered must be added to the 
// $terms map
$terms: (
  'airforce-compressed-air-systems',
  'baseball-bump-caps',
  'cap-protection-systems',
  'chinstraps-and-neck-capes',
  'face-protection',
  'fresh-air-systems',
  'general-purpose',
  'hearing-protection',
  'helmet-protection-systems',
  'helmet-spares',
  'hygiene-bump-caps',
  'integrated-eyewear-helmet-systems',
  'mounting-accessories',
  'powered-air-systems',
  'respiratory-protection-systems',
  'seasonal-protection',
  'specialised-helmet-systems',
  'visibility-accessories'
);

// We only filter if JS is enabled
.js *[data-filter="filterable"] {
  height: 0;
  margin: 0;
  overflow: hidden;
}

// When filter is 'all', show all
.js #product-filter-canvas[data-filtering="all"] {
  .product-listing__category-container {
    height: auto;
    margin-top: $baseSpacingUnit * 3;
  }
}

@each $term in $terms {
  #product-filter-canvas[data-filtering*="#{$term}"] {
    .product-listing__category-container[data-filter-term="#{$term}"] {
      height: auto;
      margin-top: $baseSpacingUnit * 3;
    }
  }
}