/* ==========================================================================
    _product-filter
    
    Filter for products, lives in sidebar.
   ========================================================================== */

.product-filter__header {
  background-color: darken($brandColorThree, 5%);
}

.product-filter__item {
  list-style-type: none;
}

.product-filter__item--has-input {
  margin-bottom: $baseSpacingUnit / 2;
}

.product-filter__item__label {
  margin-left: $baseSpacingUnit / 2;
}

.product-filter__item-link,
.product-filter__item > a {
  color: inherit;
}

.product-filter__item-heading {
  padding: $baseSpacingUnit;
  border-top: 1px solid $borderColor;
  color: $brandColorTwo;
  @extend %like-h3;
}

.product-filter__item-list--is-child {
  padding-left: $baseSpacingUnit;
  padding-bottom: $baseSpacingUnit;
}

.product-filter__header {
  cursor: pointer;
}

.product-filter__toggle-text {
  color: inherit;
  text-align: right;
}

/* Filters
---------------------------------------- */

// All child terms (slugs) which need to 
// be filtered must be added to the 
// $terms map
$terms: (
  'general-purpose', 
  'integrated-eyewear-helmet-systems', 
  'face-protection', 
  'specialised-helmet-systems', 
  'hearing-protection', 
  'seasonal-protection', 
  'mounting-accessories', 
  'visibility-accessories', 
  'chinstraps-and-neck-capes', 
  'helmet-spares', 
  'baseball-bump-caps', 
  'hygiene-bump-caps', 
  'powered-air-systems', 
  'fresh-air-systems', 
  'airforce-compressed-air-systems'
);

// We only filter if JS is enabled
.js *[data-filter="filterable"] {
  height: 0;
  overflow: hidden;
}

@each $term in $terms {
  #product-filter-canvas[data-filtering*="#{$term}"] .product-listing__category-container[data-filter-term="#{$term}"] {
    height: auto;
  }
}