/* ==========================================================================
    _product-listing
    
    Listing products (generally in an archive page)
   ========================================================================== */

.product-listing {
  padding: 0;
  margin-bottom: $baseSpacingUnit;

  &:nth-of-type(3n+1) {
    clear: both;
  }
}

.product-listing__header {
  margin-bottom: $baseSpacingUnit * 2;
}

.product-listing__container {
  @include respond-to( 'small' ) {
    margin-right: $baseSpacingUnit * 1.5;
  }
}

.product-listing__image-container {
  display: block;
  margin-bottom: $baseSpacingUnit;
  border: 1px solid $brandColorThree;
  position: relative;
  background-color: $lightColor;
}

.product-listing__image {
  width: 50%;
  margin: 0 auto;
  display: block;

  @include respond-to( 'small' ) {
    width: 100%;
    padding: $baseSpacingUnit / 2;
  }
}

.product-listing__title {
  margin-bottom: $baseSpacingUnit;
  color: $brandColorOne;
  font-weight: normal;
}

.product-listing__category-title,
.product-listing__sub-category-title {
  color: $brandColorOne;
}

.product-listing__category-container {
  overflow: hidden;

  &:not(:last-of-type) {
    padding-bottom: $baseSpacingUnit * 2;
    margin-bottom: $baseSpacingUnit * 3;
    border-bottom: 1px solid $borderColor;
  }
}

.product-listing__description {
  color: $brandColorFour;
  margin-bottom: $baseSpacingUnit;
}

.product-listing__specialism {
  padding: $baseSpacingUnit / 4;
  position: absolute;
  bottom: 0; left: 0;
  text-align: center;
  color: $lightColor;
  background-color: $brandColorTwo;
}
.product-listing__specialism--new {
  // 'New' is actually a separate field in CMS
  // It renders the same as other specialisms, though,
  // with some slight differences
  width: auto;
  padding: $baseSpacingUnit / 4 $baseSpacingUnit / 2;
  left: auto; bottom: auto;
  top: 0; right: 0;
  background-color: $borderColor;
  color: $brandColorOne;
}

/* Featured
---------------------------------------- */

.product-listing--featured {
  padding: 0;

  &:last-of-type {
    margin-bottom: $baseSpacingUnit * 2;

    @include respond-to( 'small' ) {
      margin-bottom: 0;
    }
  }

  @include respond-to( 'small' ) {
    margin-bottom: $baseSpacingUnit * 2;
  }
}

.product-listing--featured__container {

  @include respond-to( 'small' ) {
    margin: 0;

    .product-listing--featured:nth-of-type(odd) & {
      margin-right: $baseSpacingUnit / 1.5;
    }

    .product-listing--featured:nth-of-type(even) & {
      margin-left: $baseSpacingUnit / 1.5;
    }
  }
}

.product-listing--featured__image {
  @include respond-to( 'small' ) {
    width: 50%;
    padding: 0;
  }
}

.product-listing--featured__title {
  font-size: $h2Size;
  margin-bottom: $baseSpacingUnit;
}

/* Product Listing with centered text
---------------------------------------- */

.product-listing--centered {
  text-align: center;
}