/* ==========================================================================
    _search-results
    
    Search result components
   ========================================================================== */

.search-results__title {

  &:not(:first-of-type) {
    padding: $baseSpacingUnit * 2 0 0;
    margin-top: $baseSpacingUnit;
    border-top: 1px solid $borderColor;
  }

  @include respond-to( 'small' ) {
    // Shift wider than wrapper
    // on desktop
    width: 110%;
    position: relative;
    left: -5%;

    &:not(:first-of-type) {
      padding: $baseSpacingUnit * 2 0 0;
      margin-top: $baseSpacingUnit * 2;
    }
  }
}

.search-results__form {
  height: 60px;
  margin: $baseSpacingUnit 0 $baseSpacingUnit * 2;
}