/* ==========================================================================
    _timeline
    
    Is a carousel, using slick.js.
   ========================================================================== */

/* Timeline
---------------------------------------- */

.timeline__main__item {
  margin: 0 $baseSpacingUnit;
}

.timeline__main__item__title {
  color: $brandColorHighlight;
}

.timeline__main__item__image {
  display: block;
  margin: 0 auto;
  max-width: 75%;
}

.timeline__main,
.timeline__main__item,
.timeline__main__item__copy,
.timeline__main__item__title {
  // Prevent blurry text on -webkit-
  transform: translate3d(0, 0, 0);
  perspective: preserve-3d;
}

/* Nav (Controller)
---------------------------------------- */

.timeline__nav {
  padding-top: $baseSpacingUnit;
  border-top: 1px solid $brandColorTwo;

  @include respond-to( 'small' ) {
    margin-top: $baseSpacingUnit * 2;
  }
}

.timeline__nav__item {
  font-weight: bold;

  &:hover {
    opacity: 1 !important;
  }

  &:after {
    content: '';
    height: 10px;
    width: 10px;
    margin: 10px auto 0;
    display: block;
    border-radius: 10px;
  }
}

/* Slick styles
---------------------------------------- */

.timeline__main__item:not(.slick-center) {
  opacity: 0.4;

  .timeline__main__item__copy,
  .timeline__main__item__title {
    opacity: 0.1;
  }
}

.timeline__nav__item:not(.slick-current) {
  color: $brandColorTwo;
}

.timeline__nav__item.slick-current:after {
  background-color: $brandColorHighlight;
}