/* ==========================================================================
   _base
   
   Base styles, no clases or IDs selectors please 
   (placeholders are fine I guess...)
   ========================================================================== */

html {
  font-family: $mainFontFamily;
  font-size: $mainFontSize;

  @if $globalFontSmoothing == true {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@if $globalBoxSizing == 'border-box' {
  * {
    box-sizing: border-box;
  }
}

h1,
%like-h1 {
  font-size: 2.6em;
}

h2,
%like-h2 {
  font-size: 1.55em;
}

h3,
%like-h3 {
  font-size: 1.2em;
}

h4,
%like-h4 {
  font-size: 1.1em;
}

h1, %like-h1
h2, %like-h2
h3, %like-h3
h4, %like-h4 {
  margin-top: 0;
}

img,
video {
  max-width: 100%;
}